body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

#centerControl {
  
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}

#bodyContainer {
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 25px;
    padding: 20px;
}

#qrCodeImage {
    display: block;
    border-radius: 25px;
    width: 275px;
}

#headerText {
    width: 0;
    min-width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: hsl(0, 0%, 0%, 1)

}

p {
    width: 0;
    min-width: 100%;
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

